@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

.input-box input::placeholder {
  color: #fff;
}

.remember-forgot a:hover {
  text-decoration: underline;
}


.inputTextArea::placeholder {
  color: #fff;
}

.nav {
  height: 50px;
  width: 100%;
  background: "transparent";
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  color:#fff;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav{
    z-index: 100;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: black;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 57px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
 
}

.NomsgWrapper{
  width: 25%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  justify-content: center;
  align-items: center
}

.NomsgWrapper h2{
  align-items: center;
}



.newWrapper{
  width: 40vw;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
}

 table {
  background: "transparent";
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  margin-top: 5vh;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: #fff;
  
} 


table tr {
  border: 1px solid #ddd;
  padding: .35em;
  border-radius: 10px
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.para{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2vh
}

.button{
  height: 45px;
}

#button2{
  color: #fff
}

.MoreLink{
  color: #fff;
}

table tbody tr:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);
}




@media screen and (max-width: 600px) {

  .button{
    margin-top: 9vh;
    height: 70%;
  }

  #sentDiv{
    height: 85vh;
  }


  .newWrapper{
    width: 90%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
  }

  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  
  }
  
  table td::before {
   
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    overflow-x: hidden;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  table td p{
    padding-left: 3vw;
  }
  .para{
    padding-top: 0;
  }
  .respbtn{
    padding-top: 1.5vh;
  }

  #button2{
    margin-top: 1.5vh;
    margin-right: 15vw;
  }
}
